
html {
   box-sizing: border-box;
 }
 *, *:before, *:after {
   box-sizing: inherit;
 }

body {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

p {
   margin: 10px;
}

button {
   
   font-size:xx-large;
   
}
    .screen{
   height: 40px;
   width:  170px;
   border: 3px;
   border-style: solid; 
   color: black;
   margin: 10px;
   margin-top: 10px;
   font-size: x-large;
 }

  .numbers {
   display: flex;
   flex-wrap: wrap;
    width: 125px;
    margin: 10px;
    gap: 10px;
      
 }

 .operators{
   display: flex;
   margin: 10px;
   width: 150px;
   flex-wrap: wrap; 
   gap: 10px;
 

} 






