
html {
   box-sizing: border-box;
 }
 *, *:before, *:after {
   box-sizing: inherit;
 }

body {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

button {
   
   font-size:xx-large;
   
}
    .screen{
   height: 40px;
   width:  150px;
   border: 3px;
   border-style: solid; 
   color: black;
   margin: 10px;
   margin-top: 100px;
   font-size: x-large;
 }

  .numbers {
 
    width: 125px;
    margin: 10px;
    

 }


 .operators{
    margin: 10px;
    width: 150px;
 } 





